<template name="AboutPublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					This website was built using several different technologies: <a href="https://getbootstrap.com/">Bootstrap</a>, <a href="https://bootswatch.com/">Bootswatch</a>, CSS, HTML, <a href="https://github.com/iron-meteor/iron-router">Iron Router</a>, <a href="https://www.meteor.com/">Meteor</a> and <a href="http://www.meteorkitchen.com">Meteor Kitchen</a>.
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
	</div>
</template>

