header {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-align:center;
  padding:5px;
  border-style:double;
  border-width:4px;
}
nav {
  float:top;
  border-style:double;
  border-width:4px;
}
#container {
  display:flex;
  border-style:double;
  double-width:4px;
}
aside {
  text-align: center;
  float:left;
  width:24%;
  height:100%;
}
section {
  float:right;
  width:74%;
  border-left: double 4px;
}
footer {
  clear:both;
  text-align:center;
  border-style:double;
  border-width:4px;
}